.c-printscreen{
    .elipse{
        position: absolute;
        height: 665px;
        left: -30%;
        z-index: 0;
    }
    .row-content-print{
        padding: 60px 0px;
        position: relative;

        &_left{
            flex-direction: row-reverse;
            .printscreen{
                &-title{
                    text-align: right;
                }
                &-content{
                    text-align: right;
                }
            }
        }
    }
    .printscreen{
        &-img{
            max-height: 500px;
            z-index: 1;
        }

        &-title{
            color:#464646;
            font-weight: 700;
            font-size: 40px;
            padding-bottom: 16px;
        }
        &-content{
            color: #747474;
            font-weight: 400;
            font-size: 16px;
        }
    }
}